.list_item{
    text-align: justify;
    font-size: 30px;
    margin-left: 70px;
    padding-left: 30px;
}

div main div p{
    text-align: justify;
    font-size: 30px;
    margin-left: 20px;
    padding-right: 100px;
}

div h2{
    width: 100%;
    text-align: center;
    font-size: 50px;
}

iframe{
    margin-bottom: 250px;
}

a{
    font-size: 20px;

}